<h1>Lepers score</h1>


<p> Your word: </p> <%= @attempt %>
<p> Time taken to answer: </p> <%= @result[:time] %>
<p> Your translation: </p> <%= @result[:translation] %>
<p> Your score: </p> <%= @result[:score] %>
<p> Your message: </p> <%= @result[:message] %>



